<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="manifest" href="manifest.json">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png">
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png">
    <link rel="apple-touch-icon" href="images/icons/icon-144x144.png">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="images/icons/icon-384x384.png">
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png">
    <meta name="apple-mobile-web-app-status-bar" content="#db4938">
    <meta name="theme-color" content="#db4938">

    <title>Kurier app</title>
  </head>
  <body>


    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js"
        import { GoogleAuthProvider,signInWithPopup, getAuth  } from 'https://www.gstatic.com/firebasejs/9.6.11/firebase-auth.js'
        import { getFirestore  } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js'
        import { collection, getDocs, deleteDoc, query, where, addDoc, doc } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js'

        const firebaseConfig = {
          apiKey: "AIzaSyAoyx-GPeLViIx6-2HRfxC-atMLXxAHuwA",
          authDomain: "kamilos1337.github.io",
          projectId: "studia-46c56",
          storageBucket: "studia-46c56.appspot.com",
          messagingSenderId: "266129178736",
          appId: "1:266129178736:web:d5b01218cb3ae90f1f74b5",
          measurementId: "G-VK6WYZ8YGD"
        };
          const app = await initializeApp(firebaseConfig);
          const db = getFirestore(app);


          // const provider = new GoogleAuthProvider();
          // const auth = await getAuth(app);
          //
          // await signInWithPopup(auth, provider)
          //   .then((result) => {
          //     // This gives you a Google Access Token. You can use it to access the Google API.
          //     const credential = GoogleAuthProvider.credentialFromResult(result);
          //     const token = credential.accessToken;
          //     // The signed-in user info.
          //     const user = result.user;
          //     // ...
          //   }).catch((error) => {
          //     // Handle Errors here.
          //     const errorCode = error.code;
          //     const errorMessage = error.message;
          //     // The email of the user's account used.
          //     const email = error.email;
          //     // The AuthCredential type that was used.
          //     const credential = GoogleAuthProvider.credentialFromError(error);
          //     // ...
          //     console.log(error)
          //   });





        // Read data
        const users = await getDocs(collection(db, "users"));
        var myModal = new bootstrap.Modal(document.getElementById('login'), {
          keyboard: false
        })
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }


        function eraseCookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
        const login = async (login,password) =>{
            console.log(login,password)
            const q = query(collection(db, "users"), where("login", "==", login), where("password", "==", password));
            const querySnapshot = await getDocs(q);
            let status = false;;
            await querySnapshot.forEach((doc) => {
              // doc.data() is never undefined for query doc snapshots
              setCookie("login", doc.id, 30)
              setCookie("name", doc.data().login, 30)
              console.log(doc.id, " => ", doc.data());
              status = true;
            })
        }


      navigator.mediaDevices.getUserMedia({video: true})

        var myApp = new Vue({
          el: '#app',
          data: {
            user: '',
            items:[],
            current:{}
          },
          methods: {
            check: async function(){
              let id = document.querySelector("#paczka").value
              const q = query(collection(db, "delivery"), where("id", "==", id));
              const querySnapshot = await getDocs(q);
              this.current = [];
              await querySnapshot.forEach((doc) => {
                this.current=doc.data()
              })
              navigator.vibrate([100,30,100,30,100,30,200,30,200,30,200,30,100,30,100,30,100])
            },
            checkUser: async function(){
              const userKey = getCookie("login");
              if(userKey){
                let q = query(collection(db, "users"), where("id", "==", userKey));
                let querySnapshot = await getDocs(q);
                let status = false;
                await querySnapshot.forEach((doc) => {
                  // doc.data() is never undefined for query doc snapshots
                  this.user = "Witamy: "+ doc.data().login
                  console.log(doc.id, " => ", doc.data());
                  status = true;
                })

                q = query(collection(db, "delivery"), where("user_id", "==", userKey));
                querySnapshot = await getDocs(q);
                this.items = [];
                await querySnapshot.forEach((doc) => {
                  this.items.push(doc.data())
                })
              }else{
                this.user = ""
              }
              if(status)myModal.hide()

            },
            logout: function (){
              console.log("logout")
                            eraseCookie("login");
              this.user=""
              this.items=[]
            },
            add: async function (){
              const docRef = await addDoc(collection(db, "delivery"), {
                id: Math.floor(Math.random() * 90000000) + 10000000,
                size: document.querySelector("#size").value,
                title: document.querySelector("#name").value,
                weight:document.querySelector("#weight").value,
                user_id:getCookie("login"),
                status:"pending"
              });
              this.checkUser();
              navigator.vibrate([100,30,100,30,100,30,200,30,200,30,200,30,100,30,100,30,100])
              document.querySelector("#add > div > div > div.modal-header > button").click();
            },
            deleteMe:  async function (id) {
              const q = query(collection(db, "delivery"), where("id", "==", id));
              const querySnapshot = await getDocs(q);
              let status = false;;
              await querySnapshot.forEach((docId) => {
                 deleteDoc(doc(db, "delivery", docId.id));
                 this.checkUser();
              })
              navigator.vibrate([100,30,100,30,100,30,200,30,200,30,200,30,100,30,100,30,100])
              this.checkUser();
            },
            login: async function () {
              let login = document.querySelector("#login").value
              let password = document.querySelector("#pass").value
                console.log(login,password)
                const q = query(collection(db, "users"), where("login", "==", login), where("password", "==", password));
                const querySnapshot = await getDocs(q);
                let status = false;;
                await querySnapshot.forEach((doc) => {
                  // doc.data() is never undefined for query doc snapshots
                  setCookie("login", doc.id, 30)
                  this.user = "Witamy: "+ doc.data().login
                  setCookie("name", doc.data().login, 30)
                  console.log(doc.id, " => ", doc.data());
                  status = true;
                })
                if(status){
                  document.querySelector("#loginModal > div > div > div.modal-header > button").click();
                  this.checkUser();
                }else{
                  alert("Podane dane są niepoprawne")
                }
            }
          },
          beforeMount(){
             this.checkUser()
          },
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <div id="app">
    <main>
      <nav>
        <h1>Kurier'App</h1>

        <ul>
          <button class="hideME" v-if="user!=''" type="button" style="margin-right:10px;" class="btn btn-primary">
          Ilość paczek <span class="badge bg-secondary">{{items.length}}</span>
        </button>
         <li v-if="user==''"><a type="button" class="btn btn-primary" onclick="logInGoogle()">Google</a></li>
          <li v-if="user==''"><a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
          <li v-if="user!=''"><a type="button" class="btn btn-primary"  v-on:click="logout" >Wyloguj</a></li>
        </ul>
      </nav>

      <h2 v-if="user==''">Zaloguj się aby móc dodawać paczki!</h2>
        <button  type="button" data-bs-toggle="modal" data-bs-target="#checkModal" style="margin-right:10px;" class="btn btn-primary">
          Sprawdź paczkę</span>
        </button>

        <div class="modal" id="checkModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sprawdź paczkę</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-left">
          <form>
          <div class="mb-3">

            <input type="email" class="form-control" placeholder="Id paczki" id="paczka" aria-describedby="emailHelp">
          </div>

            <div class="mb-3">
              <p v-if="current.title">Nazwa produktu: {{current.title}}</p>
              <p v-if="current.weight">Waga: {{current.weight}}kg</p>
              <p v-if="current.size">Rozmiar: {{current.size}}cm</p>
              <p v-if="current.status">Status: {{current.status}}</p>
            </div>


      </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>

          <button type="button" class="btn btn-primary" v-on:click="check">Sprawdź paczkę</button>
        </div>
      </div>
    </div>
  </div>

      <div class="modal" id="loginModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logowanie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-left">
        <form>
        <div class="mb-3">

          <input type="email" class="form-control" placeholder="Login" id="login" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Hasło" id="pass">
        </div>


    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>

        <button type="button" class="btn btn-primary" v-on:click="login">Zaloguj się</button>
      </div>
    </div>
  </div>
</div>

<button v-if="user" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
  Dodaj paczkę
</button>


<div class="modal" id="add" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj produkt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
            <div class="modal-body text-left">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nazwa produktu" id="name">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Waga" id="weight">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Rozmiar" id="size">
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary" v-on:click="add">Dodaj paczkę</button>
      </div>
    </div>
  </div>
</div>

    <h2 style="margin-top:10px;">{{user}}</h2>
      <span  style="margin-right:10px;"  id="map-link"></span>
      <div class="container">
         <div v-for="item in items" :key="item.title">
             <div class="card" style="width: 18rem; height:18rem;">
               <img class="card--avatar" src="/images/coffe1.png" />
             <div class="card-body">
               <h5 class="card-title">{{item.title}}</h5>
               <p class="card-text"><b>{{item.weight}}kg {{item.size}}cm</b></p>
               <p class="card-text"><b>Status: {{item.status}} <button  class="btn btn-primary" v-on:click="deleteMe(item.id)">Usuń</button></p>
             </div>
           </div>
         </div>


      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/k1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/k2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/k3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>


          </div>
    <script src="js/app.js"></script>

    <script type="text/javascript">
    function geoFindMe() {



function success(position) {
  const latitude  = position.coords.latitude;
  const longitude = position.coords.longitude;
  const mapLink = document.querySelector('#map-link');
  mapLink.textContent = `${latitude}°, ${longitude}°`;
}

function error() {
  status.textContent = 'Unable to retrieve your location';
}

if(!navigator.geolocation) {
  status.textContent = 'Geolocation is not supported by your browser';
} else {
  status.textContent = 'Locating…';
  navigator.geolocation.getCurrentPosition(success, error);
}

}

geoFindMe();
    </script>
  </body>
</html>
